head
  link(rel="stylesheet" type="text/css" href="/css/landing.css")
  link(rel="stylesheet" type="text/css" href="/css/home_page.css")
  link(rel="stylesheet" type="text/css" href="/css/user_profile.css")
  link(rel="stylesheet" type="text/css" href="/css/friends.css")

  title BookEnd
