html
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet" type="text/css" href="/css/password.css")
  head
    title Mot de passe oublié
  body
    h1 Mot de passe oublié
      if error
          p.error= error
      if success
        p.success= success
    form(action="/forgot-password" method="POST")
      label(for="email") Entrez votre adresse email :
      input(type="email" name="email" required placeholder="Votre email")
      button(type="submit") Envoyer

  a.return-link(href="/" data-page="/") Retour sur BookEnd