extends layout

block content
  h1 Mot de passe oublié
  if error
      p.error= error
  if success
    p.success= success
  form(action="/forgot-password" method="POST")
    label(for="email") Entrez votre adresse email :
    input(type="email" name="email" required placeholder="Votre email")
    button(type="submit") Envoyer
