include partials/header

html
  body
    include partials/logout
    h1 Home
    h2 Welcome #{firstname}
    h2#community_header BookEnd Trend
    #community_statuses_div
      ol.user_statuses
        each user_status in user_statuses
          li.clearfix
            img(src=`${user_status.profile_pic}`)
            .poster_name #{user_status.firstname}
            p #{user_status.user_status}
      textarea#statuses_textarea(rows="4" cols="50")
      br
      button#submit_status_button(type="submit") POST
    button#user_profile_redirect(type="submit") Go to User Profile
    button#find_friends_redirect(type="submit") Find Friends

  script(src="/js/homeScript.js")
  