doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/home_page.css")
    link(rel="stylesheet" type="text/css" href="/css/user_profile.css")
    link(rel="stylesheet" type="text/css" href="/css/friends.css")
    link(rel="stylesheet" type="text/css" href="/css/admin.css")
    link(rel='icon', href='/images/favicon.svg')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")

    title BookEnd

    body
      nav.navbar
        ul.navbar-nav
          li.nav-item
            a.nav-link(href="/home" data-page="/home")
              img(src="/images/house-solid.svg" alt="Accueil")
          li.nav-item
            a.nav-link(href="/user_profile" data-page="/user_profile")
              img(src="/images/user-solid.svg" alt="Profil")
          li.nav-item
            a.nav-link(href="/friends" data-page="/friends")
              img(src="/images/users-solid.svg" alt="Trouver des amis")
          if user_role === 'admin'
            li.nav-item
              a.nav-link(href="/administration" data-page="/administration") 
                img(src="/images/user-secret-solid.svg" alt="Administration")
          li.nav-item
            button#log_out_user.nav-link(type="button")
              img(src="/images/logout.svg" alt="Déconnexion")

        form(id="search_friends_form", method="GET", action="/search_friends")
            label(for="search_term")
            input(type="text", id="search_term", name="search_term", placeholder="Recherche une critique ou un ami..." list="suggestions_list" autocomplete="off")
            button(type="submit" id="search_find")
              img(src="/images/search.svg" alt="Rechercher")

            datalist(id="suggestions_list")


      main#main-content
          block content

      footer
          p &copy; Bookend 2024
        
  script.
      window.user_role = "#{user_role}";
  script(src="/js/dynamic-loader.js")
  script(src='/js/logout-timeout.js')

  script.
    document.getElementById("log_out_user").addEventListener("click", function() {
      fetch("/logout", {
        method: "POST",
      })
      .then(() => {
        window.location.href = "/";
      })
      .catch(error => {
        console.error("Error during logout:", error);
      });
    });

 

