doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/home_page.css")
    link(rel="stylesheet" type="text/css" href="/css/user_profile.css")
    link(rel="stylesheet" type="text/css" href="/css/friends.css")
    link(rel="stylesheet" type="text/css" href="/css/admin.css")
    link(rel='icon', href='/images/favicon.svg')
    link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")

    title BookEnd

    body
      nav.navbar
        form(id="search_friends_form", method="GET", action="/search_friends")
            label(for="search_term") Rechercher des Bookies :
            input(type="text", id="search_term", name="search_term", placeholder="Entrez le nom ou prénom de votre ami...")
            button(type="submit" id="search_find") Rechercher

        ul.navbar-nav
          li.nav-item
            a.nav-link(href="/home" data-page="/home") Home
          li.nav-item
            a.nav-link(href="/user_profile" data-page="/user_profile") Profil
          li.nav-item
            a.nav-link(href="/friends" data-page="/friends") Trouver des Bookies
          if user_role === 'admin'
            li.nav-item
              a.nav-link(href="/administration" data-page="/administration") Administration
          li.nav-item
            button#log_out_user.nav-link(type="button") Déconnexion

      main#main-content
          block content

      footer
          p &copy; Bookend 2024
        
  script.
      window.user_role = "#{user_role}";
  script(type="module" src="/js/dynamic-loader.js")
  script.
    document.getElementById("log_out_user").addEventListener("click", function() {
      fetch("/logout", {
        method: "POST",
      })
      .then(() => {
        window.location.href = "/";
      })
      .catch(error => {
        console.error("Error during logout:", error);
      });
    });

 

