html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="/css/password.css")
    title Réinitialiser le mot de passe
  body
    h1 Réinitialiser le mot de passe
    if error
      p.error= error
    if success
      p.success= success
    - const formClass = error ? 'disabled' : '';

    form#reset_password_form(action=`/reset-password/${token}` method="POST" class=formClass)
      label(for="password") Nouveau mot de passe:
      input(type="password" name="password" required)
      button(type="submit") Réinitialiser le mot de passe

    .link-return
      a.return-link(href="/") Retour sur BookEnd
      a.return-link(href="/forgot-password") Renvoyer un email


script(src="/js/reset-pwd.js")
