/* Styles de base pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Styles généraux pour la navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1b3b28;
  border-bottom: 1px solid #0f2d18;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search_friends_form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}

#search_friends_form label {
  color: #ffffff;
  font-size: 14px;
}

#search_term {
  padding: 5px;
  border: 1px solid #0f2d18;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 10px;
}

#search_find {
  padding: 5px 10px;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #0f5032;
}

#search_find:hover {
  background-color: #0056b3;
}

/* Styles des éléments de navigation */
.navbar-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-nav .nav-item {
  white-space: nowrap;
}

.navbar-nav .nav-link,
.navbar-nav .nav-item button#log_out_user {
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  background-color: #0f5032;
  border: none;
  font-size: 14px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-item button#log_out_user:hover {
  background-color: #0f2d18;
  color: #c3e6cb;
}

.navbar-nav .nav-item button#log_out_user {
  cursor: pointer;
  background: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #search_friends_form {
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
  }

  #search_term {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #search_find {
    width: 100%;
  }

  .navbar-nav {
    flex-direction: column;
    width: 100%;
  }

  .navbar-nav .nav-item {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }

  .navbar-nav .nav-link,
  .navbar-nav .nav-item button#log_out_user {
    width: 100%;
    box-sizing: border-box;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 10px;
  }

  #search_term {
    padding: 8px;
    font-size: 14px;
  }

  #search_find {
    padding: 8px 15px;
    font-size: 14px;
  }

  .navbar-nav .nav-link,
  .navbar-nav .nav-item button#log_out_user {
    padding: 8px;
    font-size: 12px;
  }
}

/* Styles du conteneur principal et du contenu */

.post {
  padding: 10px 10px 0 10px;
  background-color: #f1f1f1;
  border: 1px solid #e9ecef;
  border-radius: 10px;
}

#community_header,
#community_statuses_div {
  text-align: center;
  margin: 0;
}

#community_statuses_div {
  width: 60%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#submit_status_button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #0f5032;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#submit_status_button:hover {
  background-color: #082d1b;
}

.user_statuses {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user_statuses li {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  background-color: #f8f9fa;
  text-align: left;
}

.user_statuses li .header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user_statuses li img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.poster_name {
  font-weight: bold;
  color: #343a40;
}

.user_statuses li p {
  margin: 20px;
  color: #495057;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* Bouton Supprimer pour les publications */
.delete_status_button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #f3f3f3;
}
.delete_status_button:hover {
  background-color: #0f5032;
}
/* Formulaire de commentaire */
.comment_form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.comment_form textarea {
  flex: 1;
  border: 1px solid #ced4da;
  border-radius: 5px;
  /* padding: 10px; */
  resize: none;
  box-sizing: border-box;
}

.comment_form button {
  padding: 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.comment_form button:hover {
  background-color: #0f5032;
}

/* Liste des commentaires */
.comments-list {
  list-style-type: none;
  padding: 0 10px;
  margin: 15px 0 0 0;
  background-color: #f1f1f1;
  border: 1px solid #e9ecef;
  border-radius: 10px;
}

.comments-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #e9ecef;
  position: relative;
  background-color: #ffffff;
}

.comments-list li img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.comments-list li strong {
  margin-right: 5px;
  color: #343a40;
}

/* Bouton de suppression du commentaire */
.delete_comment_button {
  display: inline-block;
  padding: 5px 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #f3f3f3;
  margin-left: auto;
  align-self: center;
}

.delete_comment_button:hover {
  background-color: #0f5032;
}

/* Zone de saisie du statut */
#statuses_textarea {
  display: block;
  width: 60%;
  margin: 20px auto;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}

/* Message d'erreur */
.error-message {
  color: red;
  font-weight: bold;
  text-align: center;
}

/* Styles de base pour tous les boutons */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #1b4d3e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: auto;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background-color: #153d31;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:active {
  background-color: #0f2c23;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn:disabled {
  background-color: #718d83;
  cursor: not-allowed;
}
