@font-face {
  font-family: "Leiko-Regular";
  src: url("/css/fonts/leiko-regular.otf") format("opentype");
}
@font-face {
  font-family: "Mazius-Bold";
  src: url("/css/fonts/MaziusDisplay-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Mazius-Regular";
  src: url("/css/fonts/MaziusDisplay-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Mazius-Italic";
  src: url("/css/fonts/MaziusDisplay-Extraitalic.woff2") format("woff2");
}
@font-face {
  font-family: "Archia-Regular";
  src: url("/css/fonts/archia-regular-webfont.woff2") format("woff2");
}
/* Arrière-plan de la page de landing */
.landing_body {
  background-image: url("../images/landing2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #ffffff;
  font-family: "Archia-Regular", sans-serif;
  font-weight: 100;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* En-tête de la page de landing */
#landing_header {
  font-family: "Leiko-Regular";
  width: 100%;
  color: #0f5032;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0 20px;
  margin: 0;
}

/* Conteneur pour les formulaires */
#forms_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* Conteneur pour les formulaires d'inscription et de connexion */
#sign_up_div,
#sign_in_div {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Formulaires */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Titres des formulaires */
form h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  color: #0f5032;
}

/* Champs de formulaire */
input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #0f2d18;
  border-radius: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  width: 100%;
}

/* Boutons */
input[type="button"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #0f5032;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
}

input[type="button"]:hover {
  background-color: #082d1b;
}

/* Message d'erreur */
#error_container {
  width: 450px;
  padding: 15px;
  margin: 10px auto;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  text-align: center;
}

#error_message {
  margin: 0;
  font-size: 16px;
}

/* Liens */
a {
  color: #0f5032;
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-align: center;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}

/* Cacher les éléments non pertinents */
.hidden {
  display: none;
}

.visible {
  display: block;
}

/* Style pour le conteneur des boutons */
#button_container {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Style pour les boutons */
#button_container input[type="button"] {
  margin: 20px auto;
  border: none;
  border-radius: 5px;
  background-color: #0f5032;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#button_container input[type="button"]:hover {
  background-color: #082d1b;
}

/* Conteneur principal */
#main_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  padding: 20px;
  box-sizing: border-box;
  flex: 1;
  height: auto;
}

/* Colonnes */
.left_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 50px;
  box-sizing: border-box;
  background-color: #edebe763;
}

.right_column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  box-sizing: border-box;
  margin-right: 50px;
}

/* Section "À propos" */
.about_section {
  padding: 0 70px 0 20px;
}

.about_section p,
.about_section ul {
  font-size: 16px;
  color: #333;
}

.about_section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.about_section li {
  margin-bottom: 10px;
}

/* Colonnes des statistiques utilisateur */

.user-stats {
  margin-top: 15px;
  padding: 20px;
}

.user-stats h2 {
  font-size: 24px;
  color: #0f5032;
  font-family: "Leiko-Regular";
}

.user-stats p {
  font-size: 16px;
  color: #333;
  margin: 8px 0;
}

/* Conteneur pour les formulaires et les boutons */
#forms_container,
#button_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: #ede9e6;
  color: #004d00;
  text-align: center;
  width: 100%;
}

/* Media queries pour la version mobile */
@media (max-width: 1200px) {
  input[type="button"] {
    width: 100%;
  }
}

@media (max-width: 768px) {
  #main_container {
    flex-direction: column;
    align-items: center;
  }

  .left_column,
  .right_column {
    width: 100%;
    margin: 0;
    padding: 10px;
  }

  #landing_header {
    font-size: 60px;
    padding: 10px;
  }

  .about_section {
    padding: 20px;
    font-size: 14px;
  }

  .user-stats {
    margin-top: 20px;
    padding: 15px;
  }

  #forms_container {
    width: 90%;
    max-width: 400px;
  }

  footer {
    padding: 20px;
  }
}

/* Pour les écrans de moins de 480px (smartphones) */
@media (max-width: 480px) {
  #landing_header {
    font-size: 40px;
    padding: 5px;
  }

  .about_section {
    padding: 10px;
    font-size: 12px;
  }

  .user-stats h2 {
    font-size: 20px;
  }

  .user-stats p {
    font-size: 14px;
  }

  input[type="text"],
  input[type="password"],
  input[type="button"] {
    font-size: 14px;
    padding: 8px;
  }

  #button_container {
    flex-direction: column;
    gap: 10px;
  }

  footer {
    padding: 10px;
  }
}
