/* Style général du corps de la page */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Style du conteneur principal */
#main-content {
  min-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Style du header */
header {
  background-color: #004d00;
  color: #fff;
  padding: 15px;
  text-align: center;
  width: 100%;
}

/* Style du titre de profil */
#profile_header {
  color: #004d00;
  text-align: center;
  margin: 20px 0;
}

/* Conteneur principal */
.main-container {
  display: flex;
  justify-content: space-between;
}

/* Sections latérales et centrale */
.left-section,
.right-section .friend_requests_section,
.right-section #suggestions_section,
.center-section {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 5px 10px;
}

.left-section,
.right-section .friend_requests_section,
.right-section #suggestions_section {
  width: 250px;
}

.center-section {
  flex: 1;
}

#see_more_friends {
  display: block;
  margin: 20px auto;
  background-color: #004d00;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
}

#see_more_friends:hover {
  background-color: #003300;
}

/* Style de la section de profil utilisateur */
#user_profile_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user_statuses_profile {
  width: 600px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile_info {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

#profile_picture_div {
  text-align: center;
  position: relative;
}

#profile_picture_div img {
  border-radius: 50%;
  border: 4px solid #004d00;
  margin: 10px 0;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

/* Style de la section de modification du profil */
#edit_profile_form_container.hidden {
  display: none;
}

#edit_profile_form_container {
  display: block;
}

/* Style des statuts d'utilisateur */
#user_statuses_div {
  margin-top: 20px;
  min-width: 600px;
  margin: 0 auto;
  max-width: 700px;
}

.user_status_item {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  flex-direction: column;
}

.profile_picture_in_status {
  border-radius: 50%;
  border: 2px solid #004d00;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.user_status_item p {
  margin: 0;
  padding: 5px 0;
}

/* Style des commentaires sur les statuts */
.comment {
  margin-top: 5px;
  padding-left: 10px;
  border-left: 2px solid #004d00;
}

/* Style de la section des amis */
#user_friends_list_section {
  margin-bottom: 20px;
}

#user_friends_list_section h2 {
  color: #004d00;
}

#user_friends_list_section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#user_friends_list_section li {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.user_friend_list {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 10px;
  overflow: hidden;
  justify-content: center;
}

.user_friend_list img {
  border-radius: 50%;
  border: 2px solid #004d00;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
}

.user_friend_list span {
  flex: 1;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Boutons dans la liste des amis */
.button_friend {
  margin-top: 5px;
}

button#visiting_profile,
button.delete_friend_button,
button.chat_button {
  background-color: #004d00;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin: 2px;
}

button#visiting_profile:hover,
button.delete_friend_button:hover,
button.chat_button:hover {
  background-color: #003300;
}

/* Style des suggestions d'amis */
#suggestions_section {
  margin-top: 20px;
}

.potential_friend {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
}

.friends_profile_pic img {
  border-radius: 50%;
  border: 2px solid #004d00;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

/* Style des boutons dans la section des suggestions d'amis */
.request_button {
  background-color: #004d00;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin-top: 10px;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.request_button:disabled {
  background-color: #8c8c8c;
  cursor: not-allowed;
}

.request_button:not(:disabled):hover {
  background-color: #003300;
}

.request_button:not(:disabled):active {
  opacity: 0.8;
}

/* Style de la section des demandes d'amis */
.friend_requests_section {
  margin-top: 20px;
}

.friend_requests_section h2 {
  color: #004d00;
}

.friend_requests_section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.friend_requests_section li {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 10px;
  justify-content: center;
}

.friend_request_pic img {
  border-radius: 50%;
  border: 2px solid #004d00;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
}

.friend_requests_section button {
  background-color: #004d00;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  margin: 0 5px;
}

.friend_requests_section button:hover {
  background-color: #003300;
}

/* Style de la section des messages */
#chat_section_wrapper {
  display: none;
}

/* Section de Chat */

#chat_section_wrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: row;
}

.chat_section {
  display: none;
  width: 350px;
  height: 500px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chat_title_section {
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: #03321a;
  color: #fff;
  height: 50px;
  border-bottom: 1px solid #03321a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.chat_close {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  line-height: 1;
  width: 40px;
  height: auto;
}

.chat_messages {
  padding: 15px;
  flex: 1;
  overflow-y: auto;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.message .profile_pic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.message .message_content {
  min-width: 70%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.message strong {
  display: block;
  font-weight: bold;
  color: #333;
}

.send_message {
  border-top: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}

.send_message_input {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin-right: 10px;
}

.send_message_button {
  background-color: #053826;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.send_message_button:hover {
  background-color: #077e46;
}

.chat_button.new-message {
  border: 2px solid red;
  position: relative;
}

.chat_button.new-message::after {
  content: "•";
  color: red;
  font-size: 20px;
  position: absolute;
  top: -5px;
  right: -5px;
}

#edit_profile_form_container {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 90%;
  max-width: 600px;
  z-index: 1000;
  text-align: left;
  display: none;
}

/* Style pour le formulaire de modification */
#edit_profile_form {
  display: flex;
  flex-direction: column;
}

/* Styles des éléments de liste du formulaire */
#edit_profile_form ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#edit_profile_form li {
  margin-bottom: 10px;
}

#edit_profile_form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #004d00;
}

#edit_profile_form input[type="text"],
#edit_profile_form textarea,
#edit_profile_form input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  box-sizing: border-box;
}

#edit_profile_form textarea {
  resize: vertical;
}

/* Boutons du formulaire */
#save_profile_button,
#cancel_edit_profile {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: #ffffff;
  background-color: #004d00;
  transition: background-color 0.3s;
  margin-right: 10px;
}

#save_profile_button:hover,
#cancel_edit_profile:hover {
  background-color: #003300;
}

#cancel_edit_profile {
  background-color: #f44336;
}

#cancel_edit_profile:hover {
  background-color: #c62828;
}

/* Style du bouton de modification */
#edit_profile_button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #004d00;
  font-size: 20px;
  padding: 10px;
  margin: 0;
  transition: color 0.3s ease;
  z-index: 10;
}
#edit_profile_button img {
  pointer-events: none;
  width: 20px;
  height: auto;
  border: none;
  border-radius: 0;
}

/* Styles de la section cachée */
#edit_profile_form_container.hidden {
  display: none;
}

.hidden {
  display: none;
  box-shadow: none;
}

/* Styles du conteneur principal et du contenu */
.post {
  padding: 10px 10px 0 10px;
  background-color: #f1f1f1;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}
h2 {
  font-family: "Roboto";
}
#community_header_profile,
#community_messages_div {
  text-align: center;
  margin: 0;
}

/* #community_messages_div {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

#createMessageButton {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #0f5032;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  transition: background-color 0.3s;
}

#createMessageButton:hover {
  background-color: #082d1b;
}

.messageList {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.messageList li {
  position: relative;
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #e9ecef;
  border-radius: 10px;
  background-color: #f8f9fa;
  text-align: left;
}

.messageList li .header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.messageList li img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}

.messageList li p {
  margin: 20px;
  color: #495057;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* Bouton Supprimer pour les publications */
.delete_message_button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #f3f3f3;
}
.delete_message_button:hover {
  background-color: #0f5032;
}
/* Formulaire de commentaire */
.friendComment_form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.friendComment_form textarea {
  flex: 1;
  border: 1px solid #ced4da;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
}

.friendComment_form button {
  padding: 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-sizing: border-box;
}

.friendComment_form button:hover {
  background-color: #0f5032;
}

/* Liste des commentaires */
.friendComment-list {
  list-style-type: none;
  padding: 0 10px;
  margin: 15px 0 0 0;
  background-color: #f1f1f1;
  border: 1px solid #e9ecef;
  border-radius: 10px;
}

.friendComment-list li {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-top: 1px solid #e9ecef;
  position: relative;
  background-color: #ffffff;
}

.friendComment-list li img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.friendComment-list li strong {
  margin-right: 5px;
  color: #343a40;
}

/* Bouton de suppression du commentaire */
.delete_friendComment_button {
  display: inline-block;
  padding: 5px 10px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #f3f3f3;
  margin-left: auto;
  align-self: center;
}

.delete_friendComment_button:hover {
  background-color: #0f5032;
}

/* Zone de saisie du statut */
.message-form {
  width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#statusText {
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 15px;
  resize: none;
}

form textarea {
  width: 100%;
  max-width: 100%;
}

/* Message d'erreur */
#error_container {
  max-width: 450px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  text-align: center;
  margin: 15px auto 0;
}

#error_message {
  margin: 0;
  font-size: 16px;
}

/* Styles Responsive */
@media (max-width: 1220px) {
  .main-container {
    flex-direction: column;
    flex-wrap: wrap;
  }

  #main-content {
    min-width: auto;
  }

  .left-section,
  .right-section .friend_requests_section,
  .right-section #suggestions_section {
    width: auto;
  }

  #user_profile_div {
    flex-direction: column;
  }

  #user_statuses_div {
    min-width: 100%;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 24px;
  }
  .main-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  body {
    padding: 10px;
  }

  #main-content {
    min-width: -moz-available;
  }
  .left-section,
  .center-section,
  .right-section .friend_requests_section,
  .right-section #suggestions_section {
    width: -moz-available;
  }
  header {
    padding: 10px;
  }
  .user_statuses_profile {
    width: auto;
  }
  .profile_info {
    width: 100%;
  }

  #profile_picture_div img {
    width: 100px;
    height: 100px;
  }

  .user_status_item {
    flex-direction: column;
  }
  #user_status_profile {
    width: auto;
  }
  #user_statuses_div {
    min-width: 100%;
  }

  .user_friend_list img {
    width: 40px;
    height: 40px;
  }

  .potential_friend img {
    width: 60px;
    height: 60px;
  }

  #edit_profile_button img {
    width: 20px;
    height: auto;
  }

  #chat_section_wrapper {
    flex-direction: column;
  }

  .chat_section {
    width: 100%;
    height: 300px;
  }

  .chat_footer input {
    width: calc(100% - 60px);
  }
}

@media (max-width: 480px) {
  .main-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  body {
    padding: 10px;
  }

  #main-content {
    min-width: auto;
    padding: 10px;
    min-width: -moz-available;
  }
  .left-section,
  .center-section,
  .right-section .friend_requests_section,
  .right-section #suggestions_section {
    width: -moz-available;
  }
  header {
    padding: 10px;
  }

  .profile_info {
    width: 100%;
  }

  #profile_picture_div img {
    width: 100px;
    height: 100px;
  }

  .user_status_item {
    flex-direction: column;
  }

  #user_statuses_div {
    min-width: 100%;
  }
  .user_statuses_profile {
    width: auto;
  }
  .user_friend_list img {
    width: 40px;
    height: 40px;
  }

  .potential_friend img {
    width: 60px;
    height: 60px;
  }

  #edit_profile_button img {
    width: 20px;
    height: auto;
  }

  #chat_section_wrapper {
    flex-direction: column;
  }

  .chat_section {
    width: 100%;
    height: 300px;
  }

  .chat_footer input {
    width: calc(100% - 60px);
  }
}
